@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --header-height: 4rem;
    --content-container-padding-top: 3rem;
    --content-container-padding-bottom: 4rem;
    --content-padding-bottom: 4rem;
    --content-max-width: 650px;
}

body {
    font-family: "Urbanist", sans-serif;
}

.u-flex-center {
    @apply flex justify-center items-center;
}

.u-link {
    @apply transition duration-200 hover:opacity-80;
}

#header {
    height: var(--header-height);
}

#content-container {
    min-height: calc(100vh - var(--header-height));
    padding-top: var(--content-container-padding-top);
    padding-bottom: var(--content-container-padding-bottom);
}

#content {
    max-width: var(--content-max-width);
    padding-bottom: var(--content-padding-bottom);
}
